<!doctype html>
<html>

    <head>
        <title>留言板</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './layout/header.html' %}
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        <form action="/student/disscuss_add" method="post">
                            <div class="input-field">
                                <textarea id="content" name="content" type="text" class="materialize-textarea"></textarea>
                                <label for="content">内容</label>
                            </div>
                            <script>
                                $('#content').val('');
                                $('#content').trigger('autoresize');
                            </script>
                            <button class="btn waves-effect waves-light right right blue" type="submit" name="action">发布
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="container valign">
                    {% for disscuss in disscusss %}

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/office.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                id: {{ disscuss[0] }}
                            </span>
                            <p>
                                {{ disscuss[2] }}
                            </p>
                        </div>
                        <div class="card-action">{{ disscuss[1] }} | {{ disscuss[3] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}
    </body>

</html>