<!doctype html>
<html>

    <head>
        <title>修改密码</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './layout/header.html' %}
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">

                    <div class="container valign">

                        <script>
                            /*
                            //强：字母+数字+特殊字符 
                            ^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)(?![a-zA-z\d]+$)(?![a-zA-z!@#$%^&*]+$)(?![\d!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$
                            
                                
                            //中：字母+数字，字母+特殊字符，数字+特殊字符
                                ^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$

                            //弱：纯数字，纯字母，纯特殊字符
                            ^(?:\d+|[a-zA-Z]+|[!@#$%^&*]+)$
                            */
                            function isPasswordOK() {
                                s = document.form1.password.value
                                var patrn = /^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/;
                                if (!patrn.exec(s)) {
                                    // 不合法
                                    $('#sb').toggleClass('disabled', true);
                                } else {
                                    // 合法
                                    $('#sb').toggleClass('disabled', false);
                                }
                            } 
                        </script>
                        {% if ok %}
                        <span class="green-text">修改成功</span>,返回<a href="/student">用户页面</a>
                        {% endif %}
                        <form name="form1" action="/student/change" method="post">
                            <input type=hidden name=oldid value={{ student[0] }}>
                            <input type=hidden name=id value={{ student[0] }}>
                            <input type=hidden name=realname value={{ student[2] }}>
                            <input type=hidden name=sex value={{ student[3] }}>
                            <input type=hidden name=sushelou value={{ student[4] }}>
                            <input type=hidden name=qinshihao value={{ student[5] }}>



                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" name="password" type="password" class="validate" onBlur="isPasswordOK()" pattern="^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$">
                                <label for="password" data-error="密码需要满足字母,数字,特殊字符中至少两项" data-success="密码合法">密码</label>
                            </div>



                            <button id="sb" class="btn waves-effect waves-light right blue lighten-2 disabled" type="submit" name="action">修改
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}

    </body>

</html>