<!doctype html>
<html>

    <head>
        <title>公告管理</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './admin/header.html' %}
        <script>
            $('.nav1').toggleClass('active');
        </script>
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">

                        {% if isAdmin %}
                        <form action="/admin/bulletin_add" method="post">
                            <div class="input-field">
                                <input id="title" name="title" type="text" class="validate">
                                <label for="title">公告标题</label>
                            </div>

                            <div class="input-field">
                                <input type="date" name="time" class="datepicker">
                                <!-- <input id="time"  type="text" class="validate"> -->
                                <label for="time">时间</label>
                            </div>
                            <script>
                                $('.datepicker').pickadate({
                                    selectMonths: true, // Creates a dropdown to control month
                                    selectYears: 15 // Creates a dropdown of 15 years to control year
                                });
                            </script>

                            <div class="input-field">
                                <textarea id="content" name="content" type="text" class="materialize-textarea"></textarea>
                                <label for="content">内容</label>
                            </div>
                            <script>
                                $('#content').val('');
                                $('#content').trigger('autoresize');
                            </script>
                            <button class="btn waves-effect waves-light right right blue" type="submit" name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        <table class="bordered highlight centered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>标题</th>
                                    <th>时间</th>
                                    <th>内容</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bulletin in bulletins %}
                                <tr>
                                    <td>{{ bulletin[0] }}</td>
                                    <td>{{ bulletin[1] }}</td>
                                    <td>{{ bulletin[2] }}</td>
                                    <td>{{ bulletin[3]|safe }}</td>
                                    <td>
                                        <form action="/admin/bulletin_del" method="post">
                                            <input type=hidden name=id value={{ bulletin[0] }}>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">删除
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %} {% include '/admin/notadmin.html' %} {% endif %}
                    </div>
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}
    </body>

</html>