<!doctype html>
<html>

    <head>
        <title>宿舍费用管理</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './admin/header.html' %}
        <script>
            $('.nav5').toggleClass('active');
        </script>
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        {% if isAdmin %}
                        <form action="/admin/cost_add" method="post">

                            <div class="input-field">
                                <input id="sushelou" name="sushelou" type="text" class="validate">
                                <label for="sushelou">宿舍楼</label>
                            </div>
                            <div class="input-field">
                                <input id="qinshihao" name="qinshihao" type="text" class="validate">
                                <label for="qinshihao">寝室号</label>
                            </div>
                            <div class="input-field">
                                <input id="water" name="water" type="text" class="validate">
                                <label for="water">水费</label>
                            </div>
                            <div class="input-field">
                                <input id="electric" name="electric" type="text" class="validate">
                                <label for="electric">电费</label>
                            </div>
                            <div class="input-field">
                                <input type="date" name="time" class="datepicker">
                                <!-- <input id="time"  type="text" class="validate"> -->
                                <label for="time">登记时间</label>
                            </div>
                            <script>
                                $('.datepicker').pickadate({
                                    selectMonths: true, // Creates a dropdown to control month
                                    selectYears: 15 // Creates a dropdown of 15 years to control year
                                });
                            </script>
                            <button class="btn waves-effect waves-light right blue" type="submit" name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        <table class="bordered highlight centered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>宿舍楼</th>
                                    <th>寝室号</th>
                                    <th>水费</th>
                                    <th>电费</th>
                                    <th>登记时间</th>
                                    <th>修改</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in costs %}
                                <tr>
                                    <form action="/admin/cost_update" method="post">
                                        <input type=hidden name=id value={{ cost[0] }}>
                                        <td>
                                            <input type=text disabled value={{ cost[0] }}>
                                        </td>
                                        <td>
                                            <input type=text name=sushelou value={{ cost[1] }}>
                                        </td>
                                        <td>
                                            <input type=text name=qinshihao value={{ cost[2] }}>
                                        </td>
                                        <td>
                                            <input type=text name=water value={{ cost[3] }}>
                                        </td>
                                        <td>
                                            <input type=text name=electric value={{ cost[4] }}>
                                        </td>
                                        <td>
                                            <input type=text name=time value={{ cost[5] }}>
                                        </td>
                                        <td>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">修改
                                            </button>
                                        </td>
                                    </form>
                                    <td>
                                        <form action="/admin/cost_delete" method="post">
                                            <input type=hidden name=id value={{ cost[0] }}>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">删除
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %} {% include '/admin/notadmin.html' %} {% endif %}



                    </div>
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}

    </body>

</html>