<header>
    <nav>
        <div class="nav-wrapper light-blue">
            <a href="/" class="brand-logo center">宿舍管理系统</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <script>
                $(document).ready(function () {
                    $(".button-collapse").sideNav();
                })
            </script>
            <ul class="right hide-on-med-and-down">
                {% if isAdmin %}
                <li class="nav1">
                    <a href="/admin/bulletin">公告管理</a>
                </li>
                <li class="nav2">
                    <a href="/admin/student">学生管理</a>
                </li>
                <li class="nav3">
                    <a href="/admin/visitor">访客管理</a>
                </li>
                <li class="nav4">
                    <a href="/admin/valuables">贵重物品管理</a>
                </li>
                <li class="nav5">
                    <a href="/admin/cost">寝室费用登记</a>
                </li>
                <li>
                    <a href="/logout">退出登陆</a>
                </li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                {% if isAdmin %}
                <li class="nav1">
                    <a href="/admin/bulletin">公告管理</a>
                </li>
                <li class="nav2">
                    <a href="/admin/student">学生管理</a>
                </li>
                <li class="nav3">
                    <a href="/admin/visitor">访客管理</a>
                </li>
                <li class="nav4">
                    <a href="/admin/valuables">贵重物品管理</a>
                </li>
                <li class="nav5">
                    <a href="/admin/cost">寝室费用登记</a>
                </li>
                <li>
                    <a href="/logout">退出登陆</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>