<!doctype html>
<html>

    <head>
        <title>学生管理</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './admin/header.html' %}
        <script>
            $('.nav2').toggleClass('active');
        </script>
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">

                        {% if isAdmin %}
                        <form action="/admin/reg" method="post">
                            <div class="input-field">
                                <input id="id" name="id" type="text" class="validate">
                                <label for="id">学号</label>
                            </div>
                            <div class="input-field">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">姓名</label>
                            </div>
                            <div class="input-field">
                                <input id="sex" name="sex" type="text" class="validate">
                                <label for="sex">性别</label>
                            </div>
                            <div class="input-field">
                                <input id="sushelou" name="sushelou" type="text" class="validate">
                                <label for="sushelou">宿舍楼</label>
                            </div>
                            <div class="input-field">
                                <input id="寝室号" name="寝室号" type="text" class="validate">
                                <label for="寝室号">寝室号</label>
                            </div>

                            <button class="btn waves-effect waves-light right blue" type="submit" name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        <table class="bordered highlight centered">
                            <thead>
                                <tr>
                                    <th>学号</th>
                                    <th>密码</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>寝室楼</th>
                                    <th>宿舍号</th>
                                    <th>修改信息</th>
                                    <th>删除学生</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <form action="/admin/change" method="post">
                                        <input type=hidden name=oldid value={{ student[0] }}>
                                        <td>
                                            <input type=text name=id value={{ student[0] }}>
                                        </td>
                                        <td>
                                            <input type=text name=password value={{ student[1] }}>
                                        </td>
                                        <td>
                                            <input type=text name=realname value={{ student[2] }}>
                                        </td>
                                        <td>
                                            <input type=text name=sex value={{ student[3] }}>
                                        </td>
                                        <td>
                                            <input type=text name=sushelou value={{ student[4] }}>
                                        </td>
                                        <td>
                                            <input type=text name=qinshihao value={{ student[5] }}>
                                        </td>
                                        <td>

                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">修改
                                            </button>

                                        </td>
                                    </form>
                                    <td>
                                        <form action="/admin/delete" method="post">
                                            <input type=hidden name=id value={{ student[0] }}>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">删除
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %} {% include '/admin/notadmin.html' %} {% endif %}

                    </div>
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}

    </body>

</html>