<footer class="page-footer light-blue accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">软件工程课程设计</h5>
                <p class="grey-text text-lighten-4">
                    <b>朱彦臻&nbsp;&nbsp;E11414121</b></br>
                    李&nbsp;&nbsp;&nbsp;&nbsp;晨&nbsp;&nbsp;E11414097</br>
                    程&nbsp;&nbsp;&nbsp;&nbsp;潇&nbsp;&nbsp;E11414093</br>
                    杨&nbsp;&nbsp;&nbsp;&nbsp;阳&nbsp;&nbsp;X51414029</br>
                    王绪韩&nbsp;&nbsp;E11414117</br>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">相关网站</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.python.org/">Python</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://flask.pocoo.org/">flask</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://materializecss.com/">materializecss</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
        </div>
    </div>
</footer>

<link type="text/css" rel="stylesheet" href="/static/css/local.css" media="screen,projection" />
<script type="text/javascript" src="/static/js/local.js"></script>
