<nav>

    <div class="nav-wrapper">

        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li class="active"><a href="collapsible.html">JavaScript</a></li>
            <li>
                <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input placeholder="Placeholder" id="search_form" type="text" class="validate">
                    <label for="search_form white">Last Name</label>
                </div>
            </li>
        </ul>

    </div>

</nav>