main{
    min-height: 350px;
}
#main-card{
    min-height: 300px;
    margin: 50px;
    padding: 50px;
}
body{
    background: #eee;
}
.card{
    background: #fff;
}
.outer-around{
    padding: 30px;
}
.inner-around{
    margin: 30px;
}