.id-card{
    display: block;
    margin: 50px;                   /* 外边距 */
    padding: 20px;                   /* 内边距 */
    width: 500px;                   /* 宽度 */
    height: 200px;                  /* 高度 */
    border: 1px solid #000;       /* 边框 */

    /* 圆角边框 */
    border-radius: 20px;            
    -moz-border-radius: 20px;       
    -webkit-border-radius: 20px;
}

.logo{
    display: inline;
    padding: 5px;
    width: 110px;
    height: auto;
    border: 1px solid #aaa;
    float: left;
}
.id-card img{
    width: 100px;
    height: 100px;
}
.information{
    display: inline;
    height: auto;
    padding: 5px 5px;
    margin: 0px 0px 0px 300px;
}
.information ul{
    list-style: none;
}