/* Bootstrap 部分 CSS 效果 */
kbd {
    font-family: Consolas;
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
}

code{
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    margin: 0px 2px 0px 2px;
}
.label{
    font-family: Consolas;
    display: inline;
    color: #fff;
    padding: 1px 3px 2px 3px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
}
.label-red{
    background: #d9534f;
}
.label-green{
    background: #5cb85c;
}
.label-blue{
    background: #428bca;
}
.label-sky{
    background: #5bc0de;
}
.label-orange{
    background: #f0ad4e;
}

/* OJ 题目部分 CSS 效果 */
.oj{
    display: block;
    background: #555;
    color: #ddd;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    height: 100%;
}
.part:before{
    content: attr(title);
    color: #fff;
    font-weight: bold; 
    font-size: 20px;
}
.clear {
        clear: both;
}
.samp{
    font-family: "Consolas";
    display: block;
}
.input,
.output{
    display: block;
    width: 45%;
    height: 100%;
}
.input{
    float: left;
}
.output{
    float: right;
}
.oj blockquote{
    /* 引用在 .oj 类中 显示颜色修改 */
    background: #888;
    color: #fff
}

/* 代码段部分隐藏 CSS 效果 */
.hider_title{
    font-family: "Microsoft Yahei";
    cursor: pointer;
    font-weight: bold;
    background-color: #555;
    width: auto;
}
.fold_parent{
    padding: 5px;
    background-color: #555;
    border-radius: 5px;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}

/* blockquote-center 标签 */
.blockquote-center {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
}
.blockquote-center::before, 
.blockquote-center::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 22px 22px;
  }
.blockquote-center ::before {
    top: -20px;
    background-image: url($center-quote-left);
    border-top: 1px solid #666;
}
.blockquote-center::after {
    bottom: -20px;
    background-image: url($center-quote-right);
    border-bottom: 1px solid #666;
    background-position: 100% 8px;
  }

.blockquote-center p,
.blockquote-center div{ 
    text-align: center; 
}


/* note 标签 */
.note {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-top: 0;
  margin-bottom: 5px;
}
.note p:last-child {
  margin-bottom: 0;
}
.note code {
  border-radius: 3px;
}
.note .note {
  margin-top: -5px;
}
.default {
  border-left-color: #777;
}
.default h2,
.default h3,
.default h4,
.default h5,
.default h6 {
  color: #777;
}
.primary {
  border-left-color: #428bca;
}
.primary h2,
.primary h3,
.primary h4,
.primary h5,
.primary h6 {
  color: #428bca;
}
.success {
  border-left-color: #5cb85c;
}
.success h2,
.success h3,
.success h4,
.success h5,
.success h6 {
  color: #5cb85c;
}
.danger {
  border-left-color: #d9534f;
}
.danger h2,
.danger h3,
.danger h4,
.danger h5,
.danger h6 {
  color: #d9534f;
}
.warning {
  border-left-color: #f0ad4e;
}
.warning h2,
.warning h3,
.warning h4,
.warning h5,
.warning h6 {
  color: #f0ad4e;
}
.info {
  border-left-color: #5bc0de;
}
.info h2,
.info h3,
.info h4,
.info h5,
.info h6 {
  color: #5bc0de;
}
