/*@import "black.css";*/
/*阴影*/
html{
    text-shadow: 1px 1px 1px rgba(85,85,85,0.3);
}
#sidebar{
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
}

/*分割线*/
.fenge{
    display: inline;
}
.fenge::after {
    content: '|';
    padding-left: 10px;
    padding-right: 10px;
}


/*链接*/
a{
    color: #000;
    border-bottom: 1px dotted #000;
}
a:hover {
    color: #6cf;
    border-bottom-color: #aaa;
}

ul li {
    list-style: circle;
}

.footer-inner::before{
    display: none;
}

