/*@import "black.css";*/

/* 文章里插入的img的外边距 */
.posts-expand .post-body img {
    margin: 10px 10px 10px 10px;
}

/*阴影*/
html{
    text-shadow: 1px 1px 1px rgba(85,85,85,0.3);
}
#sidebar{
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
}

/*分割线*/
.fenge{
    display: inline;
}
.fenge::after {
    content: '|';
    padding-left: 10px;
    padding-right: 10px;
}


/* 搜索框颜色 */
.popup-btn-close{
    color: #000000;
}

/*链接*/
a{
    color: #000;
    border-bottom: 1px dotted #000;
}

.links-of-blogroll-item a{
    border-bottom: 0px;
}

.links-of-blogroll-item a:hover,               /*侧边栏 友情链接部分*/
.post-toc ol a:hover,           /*文章目录*/
.post-body a:hover,
.post-toc-content a:hover,
.post-nav a:hover,
.links-of-author-item a:hover,
.menu .menu-item a:hover,
a:hover {
    color: #fff;
    background-color: #000;
    background: #000;
    border-radius: 3px;
    border-bottom-color: #fff;
}

/*.post a:hover,*/
.site-state-item a:hover,
.tag-cloud a:hover,
header a:hover,
.site-meta a:hover{
    background: transparent;
}


ul li {
    list-style: circle;
}

/* 去除友情链接前面的圈 */
.links-of-blogroll-item{
    list-style: none;
}

.footer-inner::before{
    display: none;
}

/* Bootstrap 部分 CSS 效果 */
kbd {
    font-family: Consolas;
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
}

code{
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    margin: 0px 2px 0px 2px;
}
.label{
    font-family: Consolas;
    display: inline;
    color: #fff;
    padding: 1px 3px 2px 3px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
}
.label-red{
    background: #d9534f;
}
.label-green{
    background: #5cb85c;
}
.label-blue{
    background: #428bca;
}
.label-sky{
    background: #5bc0de;
}
.label-orange{
    background: #f0ad4e;
}

/* OJ 题目部分 CSS 效果 */
.oj{
    display: block;
    background: #555;
    color: #ddd;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    height: 100%;
}
.part:before{
    content: attr(title);
    color: #fff;
    font-weight: bold; 
    font-size: 20px;
}
.clear {
        clear: both;
}
.samp{
    font-family: "Consolas";
    display: block;
}
.input,
.output{
    display: block;
    width: 45%;
    height: 100%;
}
.input{
    float: left;
}
.output{
    float: right;
}
.oj blockquote{
    /* 引用在 .oj 类中 显示颜色修改 */
    background: #888;
    color: #fff
}

/* OJ题目及代码段部分隐藏 CSS 效果 */
.hider_title{
    font-family: "Microsoft Yahei";
    cursor:pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}

/*
figure table{
    display: none;
}
*/
