/*阴影*/
html{
		text-shadow: 1px 1px 1px rgba(85,85,85,0.3);
}
#sidebar{
	text-shadow: 0px 0px 0px rgba(255,255,255,0);
}

/*分割线*/
.fenge{
    display: inline;
}
.fenge::after {
  content: '|';
  padding-left: 10px;
  padding-right: 10px;
}


/*链接*/
a{
  border-bottom: 1px dotted #999;
}

ul li {
		list-style: circle;
}

.footer-inner::before{
  display: none;
}
