/*@import "black.css";*/
/*@import "next.css"*/

@import "add-on.css";
/*@import "spfk.css";*/

/* 单行代码框 加粗 边距 */
code,b,strong{
    margin: 0px 5px 0px 5px;
}

.digit{
    color: #fff;
    background-color: #727272;

    border-radius: 3px;
    padding: 2px 5px;

    vertical-align:super;
    font-size: 10px;
}

@font-face {
    font-family: 'icon-OhYee';
    src:  url('/fonts/icon-OhYee.eot?nz90s1');
    src:  url('/fonts/icon-OhYee.eot?nz90s1#iefix') format('embedded-opentype'),
      url('/fonts/icon-OhYee.ttf?nz90s1') format('truetype'),
      url('/fonts/icon-OhYee.woff?nz90s1') format('woff'),
      url('/fonts/icon-OhYee.svg?nz90s1#icon-OhYee') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
.icon-OhYee {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-OhYee' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-OhYee::before{
    content: "\e904";
}