/* 去除手机端按钮 */
.slider-trigger{
    display: none;
}

/* 当开启fancybox图片查看功能时，a链接css会产生冲突 */
a.fancy-ctn.fancybox {
    background-color: transparent;
    border: 0;
}

/* 黑色背景下，字体过小会导致显示错误 */
/* 不包括gitments部分 */
body,
div:not(#gitments) > li,
ul li,
li ul li,
.article-entry li code p code,
.article-entry li code{
    font-size: 20px;
}

/* 段间距 */
.article-entry p{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* gitment */
div#gitments li{
    text-indent: 0px;
}
div#gitments li:hover{
    background-color: transparent;
}
div#gitments li:before{
    display: none;
}


/* date */
.article-meta{
    width: auto;
    margin: 15px;
}