.problem_title{
    color: blue;
    font-weight: bolder;
    font-size: 20px;
}

.problem_des{
    border-radius: 15px;
    border-style: dotted;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(234, 235, 255);
}