<!DOCTYPE html>
<html>

    <head>
        <style>
            html {
                background-color: #ddd;
            }
        </style>
        <!--Import Google Icon Font-->
        <link href="/static/css/MaterialIcons.css" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    </head>

    <body>
        <h5>徽章</h5>
        <span class="new badge red">4</span>
        <span class="new badge blue">4</span>
        <span class="badge">1</span>
        <span class="new badge">4</span>

        <h5>按钮</h5>
        <a class="waves-effect waves-light btn">button</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
        <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>

        <a class="waves-effect waves-light btn-large">Button</a>
        <a class="btn-large disabled">Button</a>
        <div class="fixed-action-btn horizontal click-to-toggle">
            <a class="btn-floating btn-large red">
                  <i class="large material-icons">mode_edit</i>
                </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>

        <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large red">
                  <i class="large material-icons">mode_edit</i>
                </a>
            <ul>
                <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">insert_chart</i></a></li>
                <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
                <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
                <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>

        <h5>分层</h5>
        <div>
            <a href="#!" class="breadcrumb">First</a>
            <a href="#!" class="breadcrumb">Second</a>
            <a href="#!" class="breadcrumb">Third</a>
        </div>

        <h5>卡片</h5>


        <div class="row">
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>

                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>

            </div>
        </div>

        <h5>tabs</h5>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#test4">Test 1</a></li>
                <li class="tab"><a class="active" href="#test5">Test 2</a></li>
                <li class="tab"><a href="#test6">Test 3</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="test4">Test 1</div>
            <div id="test5">Test 2</div>
            <div id="test6">Test 3</div>
        </div>


        <h5>标签</h5>
        <div class="chip">
            <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person"> Jane Doe
        </div>
        <div class="chip">
            Tag
            <i class="close material-icons">close</i>
        </div>
        <div class="chips"></div>
        <div class="chips chips-initial"></div>
        <div class="chips chips-placeholder"></div>
        <div class="chips chips-autocomplete"></div>
        <script text="text/javascript">
            $('.chips').material_chip(); $('.chips-initial').material_chip({
                data: [{ tag: 'Apple', }, { tag: 'Microsoft', }, {
                    tag:
                    'Google',
                }],
            }); $('.chips-placeholder').material_chip({
                placeholder: 'Enter a tag', secondaryPlaceholder:
                '+Tag',
            }); $('.chips-autocomplete').material_chip({
                autocompleteOptions: {
                    data: {
                        'Apple': null, 'Microsoft':
                        null, 'Google': null
                    }, limit: Infinity, minLength: 1
                }
            })
        </script>


        <h5>组合</h5>
        <ul class="collection">
            <li class="collection-item">Alvin</li>
            <li class="collection-item">Alvin</li>
        </ul>

        <div class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
        </div>


        <ul class="collection with-header">
            <li class="collection-header">
                <h4>First Names</h4>
            </li>
            <li class="collection-item">
                Alvin
            </li>
            <li class="collection-item">
                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Title</span>
                <p>First Line <br> Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>


        <h5>底栏</h5>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>



        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>

                        <input placeholder="Placeholder" id="first_name" type="text" class="validate" value="Alvin">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                        <label for="disabled">Disabled</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input readonly value="I am not editable" id="readonly" type="text" class="validate">
                        <label for="readonly">readonly</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        This is an inline input field:
                        <div class="input-field inline">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="input-field col s12">
            <select multiple>
                  <option value="" disabled selected>Choose your option</option>
                  <optgroup label="team 1">
                    <option value="1">Option 1</option>
                  </optgroup>
                  <option value="2" data-icon="images/sample-1.jpg" class="circle">Option 2</option>
                  <option value="3" data-icon="images/yuna.jpg" class="left circle">Option 3</option>
                </select>
            <label>Materialize Select</label>
        </div>

        <script>
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>

        <form action="#">
            <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Red</label>
            </p>
            <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2">Yellow</label>
            </p>
            <p>
                <input class="with-gap" name="group1" type="radio" id="test3" />
                <label for="test3">Green</label>
            </p>
            <p>
                <input name="group1" type="radio" id="test4" disabled="disabled" />
                <label for="test4">Brown</label>
            </p>
        </form>

        <form action="#">
            <p>
                <input type="checkbox" id="test5" />
                <label for="test5">Red</label>
            </p>
            <p>
                <input type="checkbox" id="test6" checked="checked" />
                <label for="test6">Yellow</label>
            </p>
            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Filled in</label>
            </p>
            <p>
                <input type="checkbox" id="indeterminate-checkbox" />
                <label for="indeterminate-checkbox">Indeterminate Style</label>
            </p>
            <p>
                <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                <label for="test7">Green</label>
            </p>
            <p>
                <input type="checkbox" id="test8" disabled="disabled" />
                <label for="test8">Brown</label>
            </p>
        </form>

        <div class="switch">
            <label>
                      Off
                      <input type="checkbox">
                      <span class="lever"></span>
                      On
                    </label>
        </div>

        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </form>

        <div id="test-slider"></div>
        <script>
            var slider = document.getElementById('test-slider');
            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                step: 1,
                orientation: 'horizontal', // 'horizontal' or 'vertical'
                range: {
                    'min': 0,
                    'max': 100
                },
                format: wNumb({
                    decimals: 0
                })
            });
        </script>

        <form action="#">
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
        </form>

        <input type="text" class="datepicker">
        <input type="text" class="timepicker">
        <script>
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
            $('.timepicker').pickatime({
                default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Clear', // text for clear-button
                canceltext: 'Cancel', // Text for cancel-button
                autoclose: false, // automatic close timepicker
                ampmclickable: true, // make AM PM clickable
                aftershow: function () { } //Function for after opening timepicker
            });
        </script>

        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
        <script>
            $(document).ready(function () {
                $('input#input_text, textarea#textarea1').characterCounter();
            });
        </script>


        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </nav>

        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

        <div class="progress">
            <div class="determinate" style="width: 70%"></div>
        </div>

        <div class="progress">
            <div class="indeterminate"></div>
        </div>

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>


        <h5>图片轮放</h5>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
            <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
        </div>
        <script>
            $(document).ready(function () {
                $('.carousel').carousel();
            });
        </script>


        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
        </div>
        <script>
            $('.carousel.carousel-slider').carousel({ fullWidth: true });
        </script>

        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2">button</a>
            </div>
            <div class="carousel-item red white-text" href="#one!">
                <h2>First Panel</h2>
                <p class="white-text">This is your first panel</p>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <h2>Second Panel</h2>
                <p class="white-text">This is your second panel</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <h2>Third Panel</h2>
                <p class="white-text">This is your third panel</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <h2>Fourth Panel</h2>
                <p class="white-text">This is your fourth panel</p>
            </div>
        </div>
        <script>
            $('.carousel.carousel-slider').carousel({ fullWidth: true });
        </script>



        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>

        <script>
            $(document).ready(function () {
                $('.collapsible').collapsible();
            });
        </script>


        <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="I am a tooltip">Hover me!</a>
        <script>
            $(document).ready(function () {
                $('.tooltipped').tooltip({ delay: 50 });
            });
        </script>


        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>






        <!-- Element Showed -->
        <a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">menu</i></a>

        <!-- Tap Target Structure -->
        <div class="tap-target" data-activates="menu">
            <div class="tap-target-content">
                <h5>Title</h5>
                <p>A bunch of text</p>
            </div>
        </div>

        <script>
            $('.tap-target').tapTarget('open');
            $('.tap-target').tapTarget('close');
        </script>


        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>




        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/office.jpg">
                    </div>
                    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <script>
            $(".button-collapse").sideNav();
        </script>

    </body>

</html>